/* Reset CSS */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
}

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 5px;
}

html,
body {
    scroll-behavior: smooth;
}

/* Change text & background color */


a,
a:hover,
a:active {
    text-decoration: none;
    color: inherit;
}

button,
button:hover,
button:focus,
button:active {
    outline: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style: none;
}





@font-face {
    font-family: 'Herculanum-Regular';
    src: url('../fonts/Herculanum-Regular.ttf');
}

@font-face {
    font-family: 'Metropolis-Regular';
    src: url('../fonts/Metropolis-Regular.otf');
}

@font-face {
    font-family: 'Metropolis-SemiBold';
    src: url('../fonts/Metropolis-SemiBold.otf');
}

@font-face {
    font-family: 'Metropolis-Bold';
    src: url('../fonts/Metropolis-Bold.otf');
}

//  font-family: 'Baskervville', serif;