/*======== large device =========*/
@media (min-width: 992px) and (max-width: 1199.98px) {}

/*======== medium device =========*/
@media (min-width: 768px) and (max-width: 991.98px) {}

/*======== small device =========*/
@media (min-width: 576px) and (max-width: 767.98px) {}

/*======== Extra small device =========*/
@media (max-width: 575.98px) {
    body #main-design {
        padding: 0px;
    }

    body #main-design .left-side {

        padding: 50px 30px;
    }

    body #main-design .left-side .frame .frame-img {
        height: 330px;
    }

    .abilities-box {
        text-align: center;

        ul> :first-child {
            margin-right: 0px !important;
        }

        ul> :nth-child(3) {
            margin-right: 0px !important;
        }
    }

    body #main-design .right-side {
        padding: 50px 30px;
    }

    body #main-design .right-side .title {
        font-size: 60px;
    }

    body #main-design .right-side .description-title {
        padding-top: 0px;
    }

    body #main-design .right-side .description-text {
        font-size: 16px;
        padding: 10px 0px;
    }

    body #main-design .right-side .moves-box P {
        font-size: 16px;
    }

    body #main-design .right-side .moves-box .heading {
        padding: 20px 0px 30px;
    }

}